body {
    background: url(assets/bcg.jpg) no-repeat center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 45vw;
    margin: 1vw auto;
}

.slider-container input {
    display: none;
}

.slider-wrapper {
    height: 94%;
    border: 0.2vw solid rgb(250, 221, 142);
    border-radius: 2vw;
    background-color: rgba(100, 100, 100, 0.5);
}

.slider {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider-item {
    width: 25%;
    transition: 1s ease-in-out;
}

.desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin-top: 1vw;
}

.text-container {
    overflow: hidden;
    width: 40%;
    height: 6vw;
}

.text {
    display: flex;
    align-items: center;
    width: 400%;
    height: 100%;
}

.text p {
    width: 25%;
    transition: 1s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    color: rgb(250, 221, 142);
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(250, 221, 142);

    transition: 1s ease;
}


 /* pagination clicks  */
#num1:checked ~ .desc #btn1,
#num2:checked ~ .desc #btn2,
#num3:checked ~ .desc #btn3,
#num4:checked ~ .desc #btn4 {
    background-color: rgb(112, 110, 53);
    border: 0.3vw solid rgb(250, 221, 142);
    box-sizing: border-box;
}

/* pagination hover */
#num1:hover ~ .desc #btn1,
#num2:hover ~ .desc #btn2,
#num3:hover ~ .desc #btn3,
#num4:hover ~ .desc #btn4 {
    background-color: rgb(251, 252, 217);
}

/* pagination focus */
#num1:active ~ .desc #btn1,
#num2:active ~ .desc #btn2,
#num3:active ~ .desc #btn3,
#num4:active ~ .desc #btn4 {
    background-color: rgb(112, 110, 53);
    color: rgb(112, 110, 53);
}

/* pagination visited */
#num1:visited ~ .desc #btn1,
#num2:visited ~ .desc #btn2,
#num3:visited ~ .desc #btn3,
#num4:visited ~ .desc #btn4 {
    background-color: rgb(250, 221, 142);
}

/* slide effects */
#num1:checked ~ .slider-wrapper .slider .slides .slider-item {
    transform: translateX(0%);
}
#num2:checked ~ .slider-wrapper .slider .slides .slider-item {
    transform: translateX(-100%);
}
#num3:checked ~ .slider-wrapper .slider .slides .slider-item {
    transform: translateX(-200%);
}
#num4:checked ~ .slider-wrapper .slider .slides .slider-item {
    transform: translateX(-300%);
}

/* text effects */
#num1:checked ~ .desc .text-container .text .text-item {
    transform: translateX(0%);
}
#num2:checked ~ .desc .text-container .text .text-item {
    transform: translateX(-100%);
}
#num3:checked ~ .desc .text-container .text .text-item {
    transform: translateX(-200%);
}
#num4:checked ~ .desc .text-container .text .text-item {
    transform: translateX(-300%);
}


@media (max-width: 600px) {

    .desc {
        flex-direction: column-reverse;
    }

    .controls {
        margin: 0 auto;
    }
}